*{
    background-color: rgb(49, 49, 49);  
    font-family: 'Franklin Gothic Medium';
}

#text{
    width: calc(100% - 72px);
    height: 44px;
    padding-left: 15px;
    padding-bottom: 3px;
    margin: 12px 0px 12px 12px;
    box-sizing: border-box;
    border-color: rgb(68, 68, 68);
    background-color: rgb(68, 68, 68);
    border-style: solid;
    border-radius: 15px;
    font-size: 17px;
    vertical-align: middle;
    color: #CCCCCC;
    outline: none;
    text-align: left;
}

::placeholder {
    color: #CCCCCC;
    opacity: 50%;
}

#send{
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    background-image: url(icons/send.svg);
    background-position-y: 9px;
    background-position-x: 7px;
    background-repeat: no-repeat;
    border-color: rgb(69, 69, 69);
    background-color: rgb(68, 68, 68);
    border-style: solid;
    border-radius: 30px;
    margin-right: 12px;
}

.inputfield{
    display: block;
}

