*{
    background-color: rgb(49, 49, 49);  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    height: 98vh;
}

#message{
    width: calc(100% - 72px);
    height: 44px;
    padding-left: 15px;
    padding-bottom: 3px;
    margin: 12px 0px 10px 12px;
    box-sizing: border-box;
    border-color: rgb(68, 68, 68);
    background-color: rgb(68, 68, 68);
    border-style: solid;
    border-radius: 15px;
    font-size: 17px;
    color: #CCCCCC;
    outline: none;
    text-align: left;
}

#send{
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    background-image: url(/chat/icons/send.svg);
    background-position-y: 9px;
    background-position-x: 7px;
    background-repeat: no-repeat;
    border-color: rgb(69, 69, 69);
    background-color: rgb(68, 68, 68);
    border-style: solid;
    border-radius: 30px;
}

.inputfield{
    margin-top: auto;
}

::placeholder {
    color: #CCCCCC;
    opacity: 50%;
}

#msgtext{
    min-height: 44px;
    max-height: 100%;
    width: fit-content;
    padding: 9px 15px 12px 15px;
    margin: 12px 12px 0px 12px;
    box-sizing: border-box;
    border-color: rgb(68, 68, 68);
    background-color: rgb(68, 68, 68);
    border-style: solid;
    border-radius: 15px;
    font-size: 17px;
    color: #CCCCCC;
    outline: none;
    text-align: left;
}

